.addProductButton {
  width: 400px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}

.input {
  width: 200px;
  height: 20px;
}

.plus {
  margin-left: 10px;
  margin-right: 17px;
  font-size: x-large;
}
