.departmentList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.departmentListCollapsed {
  height: 0;
  visibility: collapse;
}

.departmentListRow {
  width: calc(100% - 25px);
  max-width: 400px;
  height: 25px;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}


.departmentListItem {
  font-weight: normal;
  text-align: left;
  flex-grow: 1;
}

.upButton {
  font-weight: normal;
  transform: rotate(0.75turn);
  color: black;
  width: 20px;
  height: 20px;
  padding: 0;
  align: center;
  text-align: center;
  border: 1px solid;
  margin-left: 3px;
}

.disabled {
  opacity: 0.25;
}

.downButton {
  font-weight: normal;
  transform: rotate(0.25turn);
  color: black;
  width: 20px;
  height: 20px;
  padding: 0;
  align: center;
  text-align: center;
  border: 1px solid;
  margin-left: 3px;
}
